{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "consistent-return": 2,
        "indent"           : [1, 4],
        "no-else-return"   : 1,
        "semi"             : [0, "always"],
        "space-unary-ops"  : 2,
        "no-console"       : 0,
        "no-unused-vars"   : 0,
        "no-undef"         : 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}